html, body{
  font-family: Lato, sans-serif;
  color: #424551;
}
.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.conteiner{
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__about{
  padding: 180px 0 160px;
}

.main__directions{
  padding-bottom: 180px;
}

.main__sert{
  margin-bottom: 46px;
}

.main__team{
  padding: 160px 0 180px;
}

.main__testimonials{
  padding-bottom: 195px;
}

.main__companies{
  padding-bottom: 177px;
}

.main__program {
  padding: 115px 0 185px;
}

.main__blog {
  padding-bottom: 200px;
}

.main__info {
  padding-bottom: 180px;
}

.main__question {
  padding-bottom: 180px;
}

.button{
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #FFFFFF;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  white-space: nowrap;
  transition: 1s;
}

.button:hover{
  transform: scale(1.05);
}

.button__grd{
  border: 1px solid transparent;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  box-shadow: inset 0px 0px 0px 100vw #fff;
  border-radius: 4px;
  padding: 0px 40px;
  display: inline-block;
  line-height: 49px;
  transition: 1s;
}
.button__grd span{
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button__grd:hover{
  transform: scale(1.05);
}

.heading{
  color: #1E212C;
}

.heading__subtitle{
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading__title{
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  position: relative;
}

.heading__title:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.heading--text-center{
  text-align: center;
}

/* -------------------------------- */
.header{
  font-weight: 700;
  background: url("../img/decor/decor_header.svg") 50% 30% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  height: 100vh;
}  

.header__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__list{
  display: flex;
}

.header__item{
  margin-right: 40px;
  white-space: nowrap;
  transition: all .3s;
}

.header__item:hover{
  color: #FF3F3A;
}

.header__link{
  font-weight: 700;
  line-height: 1.6;
}

.header__user{
  position: relative;
  padding-left: 28px;
}

.header__user::before{
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  background: url(../img/icons/log_icon.svg) no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

.header__user-btn{
  white-space: nowrap;
  line-height: 1.6;
  transition: all .3s;
}

.header__user-btn:hover{
  color: #FF3F3A;
}

.header__main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.header__content{
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.header__title{
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
}

.title{
  margin-bottom: 60px;
}

.image{
  align-self: center;
}

.header__video{
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 24px;
}

.header__play{
  position: relative;
}

.header__play-text{
  position: absolute;
  display: inline-block;
}

.header__numbers{
  display: grid;
  grid-template-columns: 5fr 1fr 5fr 1fr 5fr 1fr 5fr;
  align-items: center;
}
.header__numbers-item{
  display: flex;
  align-items: center;
}

.header__numbers-item span{
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}

.header__numbers>span{
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 15px;
  align-items: center;
}

/* --------------------- */


.about__createx{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about__createx::before{
  content: "";
  position: absolute;
  top: -80px;
  right: -115px;
  background: url(/img/decor/decor_shapes.svg);
  width: 100px;
  height: 85px;
}

.about__createx-content{
  margin-right: 30px;
}

.about__heading{
  margin-bottom: 48px;
  line-height: 150%;
}

.about__text{
  margin-bottom: 24px;
  max-width: 600px;
}

.about__paragraph{
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.about__paragraph:last-child{
  margin-bottom: 0;
}

.about__paragraph-accent{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  transition: 2s;
}

.about__paragraph-accent:hover{
  color: #5265f6;
}
.about__btn_box{
  display: flex;
}

.about__btn{
  margin-right: 24px;
}

.about__btn:last-child{
  margin-right: 0;
}

.about__values{
  display: flex;
  justify-content: space-between;
}

.about__image-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  display: block;
}

.about__image-box img:hover{
  transform: scale(1.2);
}

.about__image-box{
  display: inline-block; 
  overflow: hidden;
}

.about__numbers{
  margin-left: 30px;
  align-self: center;
}

.about__number{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about__number:last-child{
  margin-bottom: 0;
}

.about__number span{
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: 16px;
  color: #FF3F3A
}

.about__number span:hover{
  color:aqua;
  transition: .5s;
}

/* --- DIRECTIONS------------------------------------------ */


.directions__inner{
  position: relative;
}

.directions__inner::before{
  content: "";
  position: absolute;
  top: 30px;
  left: -190px;
  width: 136px;
  height: 115px; 
  background: url(../img/decor/directions1.svg) 0 0 no-repeat;
}

.directions__inner::after{
  content: "";
  position: absolute;
  top: 400px;
  right: -400px;
  width: 242px;
  height: 242px; 
  background: url(../img/decor/directions2.svg) 0 0 no-repeat;
  opacity: .12;
}

.directions__heading{
  margin-bottom: 90px;
}

.directions__filter-box{
  display: flex;
  margin-bottom: 56px;
}

.directions__filter-item{
  margin-right: 45px;
}

.directions__filter-item:last-child{
  margin-right: 0;
}

.directions__filter-btn{
  background-color: transparent;
  color: #9A9CA5;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 7px;
}

.directions__filter-btn--active{
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
  border: none;
  color: #FFFFFF;
  padding: 6px 6px;
}

.directions__list{
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-item{
  border-radius: 4px;
}

.directions__list-link{
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all .3s;
} 

.directions__list-link:hover{
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  color: #FF3F3A;
}

.directions__list-link:hover .directions__link-btn{
  color: #FF3F3A;
}

.directions__image-box img{
  width: 100%;
  height: 100%; 
}

.directions__link-content{
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.directions__link-tag{
  line-height: 1;
  font-weight: 700;
  color: #FFFFFF;
  padding: 6px 8px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.directions__link-text{
  color: #787A80;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20px;
}

.directions__link-btn{
  color: #1E212C;
  font-weight: 700;
  line-height: 160%;
  display: flex;
  transition: all .3s;
}

.directions__link-btn::after{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/arrow_right.svg) 0 2px, 100% no-repeat;
  margin-left: 11px;
}

.directions__list-item-empty{
  background: #F4F5F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions__list-item-empty span{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  max-width: 240px;
}

.directions__list-item--marketing .directions__link-tag{
  background-color: #03CEA4;;
}

.directions__list-item--management .directions__link-tag{
  background-color: #5A87FC;;
}

.directions__list-item--hr .directions__link-tag{
  background-color: #F89828;;
}

.directions__list-item--design .directions__link-tag{
  background-color: #F52F6E;;
}

.directions__list-item--development .directions__link-tag{
  background-color: #7772F1;;
}

.directions__list-item_rotate:hover .directions__image-box{
  transform:rotateY(180deg);
  transition: 1s;
}

.directions__list-item_rotate:hover .directions__link-text{
  color: #7772F1;
  transform: translateY(-10px);
  font-weight: 700;
  transition: 2s;
}

.directions__list-item_rotate:hover .directions__link-btn{
  transform: scale(1.1,1.1);
}

/* --- SERTIFICATE------------------------------------------ */

.cert__inner{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cert__inner::before{
  content: "";
  position: absolute;
  top: -15px;
  left: -120px; 
  width: 60px;
  height: 60px; 
  background: url(../img/decor/decor_sert.svg) 0 0 no-repeat;
}

.cert__content{
  margin-right: 30px;
  max-width: 400px;
}

.cert__heading{
  margin-bottom: 50px;
}

.cert__text{
  margin-bottom: 30px;
  line-height: 160%;
}

.sert__logos{
  display: flex;
}

.sert__logos-item{
  margin-right: 40px;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.sert__logos-item:last-child{
  margin-right: 0;
}

.sert__logos-item:hover{
  transform: scale(1.2);
  transition: 1s;
}

.cert__image-box{
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.cert__title{
  text-shadow:5px 5px 3px lightblue; color: black;
}

/* ---------------- TEAM------------------------------------------ */

.team{
  background: url(../img/decor/decor_team.svg) 200px 30px no-repeat, #F4F5F7;
}

.team__heading{
  margin-bottom: 60px;
  position: relative;
}

.team__slider .slick-list{
  margin: 0 -15px;
}

.team__slide{
  padding: 0 15px;
}

.team__slide:hover .team__socials{
  transform: translateY(0%);
}

.team__image-box{
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__image{
  position: relative;
  height: 340px;
}

.team__image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__socials{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);;
  transform: translateY(50%);
  transition: all .3s;
}

.team__socials-item{
  margin-right: 12px;
}

.team__socials-item:last-child{
  margin-right: 0;
}

.team__socials-link{
  display: block;
  line-height: 0;
}

.team__socials-link path{
  transition: all .3s;
}

.team__socials-link:hover path{
  fill: #FFFFFF;
}

.team__info{
  text-align: center;
}

.team__info-name{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}

.team__info-position{
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}

.team__slider-arrows{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.team__slider-arrow{
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
}

.team__slider-arrow::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  transition: all .3s;
}

.team__slider-arrow svg{
  position: relative;
  z-index: 2;
}

.team__slider-arrow path{
  transition: all .3s;
}

.team__slider-arrow:hover path{
  fill: #FFFFFF;
}

.team__slider-arrow:hover::before{
  transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev{
  margin-right: 24px;
}

.team__slider .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.team__slider .slick-dots li{
  list-style: none;
  margin: 0 5px;
}

.team__slider .slick-dots button{
  font-size: 0;
  width: 30px;
  height: 5px;
  padding-right: 10px;
  background-color: #B3B7BC;
  border-radius: 2px;
}

.team__slider .slick-dots li.slick-active button{
  background-color: #424551;
}

/* ---------------- TESTIMONIALS------------------------------------------ */

.testimonials{
  background: #F4F5F6;
  position: relative;
}

.testimonials::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44.9%, -55.4%);
  background: url(../img/decor/decor_testimonials.svg) 0 0 / 100% no-repeat;
  width: 1971px;
  height: 816px;
}

.testimonials__inner{
  position: relative;
  z-index: 1;
}
.testimonials__heading{
  margin-bottom: 60px;
}

.testimonials__slider-wrapper{
  padding: 0 50px;
  position: relative;
  margin-bottom: 50px;
}

.testimonials__slider{
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide{
  padding: 64px; 
  background-color: #fff;
  border-radius: 4px;
}

.testimonials__slide-inner{
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}

.testimonials__quote{
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__quote::before{
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url(../img/icons/braces.svg) 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user{
  display: flex;
  align-items: center ;
}

.testimonials__user-avatar{
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info-name{
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
  margin-bottom: 4px;
}

.testimonials__info-position{
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}

.testimonials__arrow{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
}

.testimonials__arrow path{
  transition: all .3s;
}

.testimonials__arrow::before{
  content: "";
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  transition: all .3s;
}

.testimonials__arrow svg{
  position: relative;
  z-index: 2;
}

.testimonials__prev{
  left: 0;
}

.testimonials__prev::before{
  left: 22%;
  transform: translate(-50%, -50%) scale(0);
}

.testimonials__prev:hover::before{
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__next{
  right: 0;
  justify-content: flex-end;
}

.testimonials__next::before{
  right: 22%;
  transform: translate(50%, -50%) scale(0);
}

.testimonials__next:hover::before{
  transform: translate(50%, -50%) scale(1);
}

.testimonials__arrow:hover path{
  fill: #fff;
}

.testimonials__dots .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li{
  margin-right: 12px;
}

.testimonials__dots li:last-child{
  margin-right: 0;
}

.testimonials__dots button{
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before{
  content: "";
  height: 3px;
  width: 100%; 
  background-color: #B3B7BC;
  border-radius: 3px;
}

.testimonials__dots .slick-active button::before{
  background-color: #424551;
  transition: all .3s;
}

/* ---------------- COMPANIES ------------------------------------------ */

.companies{
  background: #F4F5F6;
}

.companies__inner{
  position: relative;
}

.companies__inner::before{
  content: "";
  position: absolute;
  top: -230px;
  left: -120px;
  background: url(../img/decor/decor_companies.svg) 0 0 /100% no-repeat;
  width: 90px;
  height: 90px;
}

.companies__heading{
  margin-bottom: 60px;
}

.companies__grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 102px;
  
}

.companies__grid-item{
  width: 120px;
  height: 64px;
}

.companies__grid-link{
  display: block;
}

.companies__grid-link img{
  filter: opacity(25%);
}

.companies__grid-link:hover img{
  filter: opacity(100%);
}

/* ---------------- PROGRAM ------------------------------------------ */


.program__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program__content {
  margin-right: 50px;
  min-width: 600px;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc-item {
  display: block;
  padding-left: 40px;
}

.program__acc-head {
  font-weight: 700; 
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  position: relative;  
}

.program__acc-head::before,
.program__acc-head::after{
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FF3F3A;
  border-radius: 2px;
}

.program__acc-head::after{
  transform: rotate(90deg);
  transition: all .3s;
}

.program__acc-head span {
  font-weight: 400;
  color: #FF3F3A;
  padding-right: 5px;
}

.program__acc-text {
  margin-top: 16px;
}

.program__acc-link--active .program__acc-head::after{
  transform: rotate(0deg);
}

.program__image {
  width: 495px;
  height: 554px;
}

/* ---------------- BLOG ------------------------------------------ */


.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.blog__heading {
  margin-right: 30px;
}

.blog__raw {
  display: flex;
  margin: 0 -15px;
}

.blog__item {
  flex: 0 1 33.333%;
  padding: 0 15px;
}

.blog__image-box {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.blog__image-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.blog__image-box span{
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 1px 8px;
  margin-right: 4px;
}

.blog__image-box span::before{
  content: "";
  display: block;
  width: 12px;
  height: 17px;
  margin-right: 4px;
}

.blog__item-info {
  display: flex;
  margin: 0 -12px 8px;
}

.blog__info-el{
  padding: 0 12px;
  position: relative;
  color: #787A80;;
}

.blog__info-el::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787A80;
}

.blog__info-el:last-child::after{
  content: none;
}

.blog__info-date{
  display: flex;
  align-items: center;
}

.blog__info-date::before{
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: url(../img/icons/calendar_icon.svg) 0 0 / 100% no-repeat;
  margin-right: 9px;
}

.blog__info-time{
  display: flex;
  align-items: center;
}

.blog__info-time::before{
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: url(../img/icons/clock_icon.svg) 0 0 / 100% no-repeat;
  margin-right: 9px;
}

.blog__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 8px;
}
.blog__item-text {
  margin-bottom: 16px;
  line-height: 160%;
}

.blog__item-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #1E212C;
}

.blog__item-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/icons/right_blog.svg) 0 0 / 100% no-repeat;
  margin-left: 8px; 
}

.blog__item-link:hover{
  box-shadow: 0px 30px 30px 10px rgba(101, 103, 109, 0.08);
  transition: all .3s;
}

.blog__item-link:hover .blog__item-btn{
  color: #FF3F3A;;
  transition: all .3s;
}

.blog__item--podcast .blog__image-box span::before{
  background: url(../img/icons/podcast_icon.svg) 0 0 / 100% no-repeat;
}

.blog__item--video .blog__image-box span::before{
  background: url(../img/icons/video_icon.svg) 0 0 / 100% no-repeat;
}

.blog__item--article .blog__image-box span::before{
  background: url(../img/icons/article_icon.svg) 0 0 / 100% no-repeat;
}

/* ---------------- INFO ------------------------------------------ */


.info__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info__content {
  margin-right: 30px;
}

.info__heading {
  margin-bottom: 40px;
}

.info__contacts {
  margin-bottom: 50px;
}

.info__contacts-item {
  margin-bottom: 34px;
  padding-left: 24px;
}

.info__contacts-item:last-child{
  margin-bottom: 0;
}

.info__item-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  position: relative;
}

.info__item-top::before{
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
}

.info__item-link {
  font-size: 18px;
  line-height: 150%;
  transition: all .3s;
}

.info__item-link:hover{
  color: #FF3F3A;
}

.info__mail .info__item-top::before{
  background: url(../img/icons/talk.svg) 0 0 /100% no-repeat;
}

.inf__tel .info__item-top::before{
  background: url(../img/icons/call.svg) 0 0 /100% no-repeat;
}

.info__address .info__item-top::before{
  background: url(../img/icons/adress.svg) 0 0 /100% no-repeat;
}

.info__item-address {
  font-size: 18px;
  line-height: 150%;
}

.info__follow-head {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 24px;
}
.info__socials {
  display: flex;
}

.info__socials-item {
  margin-right: 32px;
}

.info__socials-item:last-child {
  margin-right: 0;
}

.info__socials-link path{
  transition: all .3s;
}

.info__socials-link:hover path {
  fill: #FF3F3A;
}

.info__map {
  height: 412px;
  width: 100%;
  max-width: 705px;
}

/* ----------------  QUESTION ------------------------------------------ */

.question__inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.question__content {
  margin-left: 30px;
}

.question__heading {
  margin-bottom: 40px;
}

.question__form-raw{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 24px;
}

.question__form-label {
  margin-right: 25px;
  flex: 1 1 auto;
}

.question__form-label:last-child {
  margin-right: 0;
}

.question__text-label{
  display: block;
  margin-bottom: 50px;
}

.question__form-input,
.question__form-text {
  display: block;
  border: 1px solid #D7DADD; 
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}

.question__form-input::placeholder,
.question__form-text::placeholder{
  color: #9A9CA5;
}

.question__form-text{
  resize: none;
  height: 128px;
}

.question__checkbox-label{
  margin-right: 50px;
  display: flex;
  width: 100%;
}
.question__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin: 5px 12px 0 0;
}

.question__form-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.question__form-default:checked + .question__form-custom{
  background: url(../img/icons/check.svg) 50% 50% no-repeat, #FF3F3A;
  border: 1px solid #FF3F3A;
}

.question__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #424551;
  border-radius: 3px;
  cursor: pointer;
}

.question__form-btn {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 16px;
}

